<h1 style="text-align: center">THE HALL OF FAME</h1>
<% Batch.where(:awards_shown => true).each do |b| %>
  <h2><%= b.name %></h2>
  <% Event.all.each do |e| %>
    <% awards = Award.where(:event_id => e.id, :batch_id => b).where.not(:team_id => nil); count = awards.count %>
    <% if count > 0 %>
      <h3><%= e.city %></h3>
      <div class="section group">
        <% awards.each do |a| %>
          <% if a.team %>
            <div class="col span_1_of_5">
              <h4 style="text-align: center"><%= a.name %></h4>
              <%= link_to a.team.name, a.team %>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>
