<h1>Welcome to CodeDay Showcase!</h1>

<p>
  Showcase is a website where you can view past CodeDay projects, and post your own!
</p>

<p>
  Here's a taste of some of the projects that have been made at CodeDay in the past:
</p>

<% @teams.each do |team| %>
  <%= render partial: "teams/showcase", :locals => { team: team } %>
<% end %>
