<h1>Welcome!</h1>

Welcome to CodeDay Teams! Register your team here and use your CodeDay Teams account to participate
in activites throughout CodeDay. When you have a team and an idea, you can get to building it!
You don't need a name for it, but you can set one on your team page if you do.Use CodeDay Teams
to track your progress with OAuth integrations such as Google Drive and Slack. Once you're done with
your project and presentations are over, you'll be judged. If you win an awardthen your team will be
permanently placed in the Hall of Fame, along with a picture of your team.

<!-- <div class="hero">
  <h1 style="margin-top: 0">Register Your Team</h1>
  <div class="hero-image hero-left" style="background-image: url(https://github.com/tjhorner/codeday-assets/blob/gh-pages/03.jpg?raw=true)"></div>
  <div class="hero-text hero-right">
    Register your team here and use your CodeDay Teams account to participate in activites throughout CodeDay.
    Use CodeDay Teams to track your progress with OAuth integrations such as Google Drive and Slack.<br>
    <a href="/register"></a>
  </div>
</div>

<div class="hero">
  <h1>Build Your Project</h1>
  <div class="hero-image hero-right" style="background-image: url(https://github.com/tjhorner/codeday-assets/blob/gh-pages/05.jpg?raw=true)"></div>
  <div class="hero-text hero-left">
    When you have a team and an idea, you can get to building it! You don't need a name for it, but you can
    set one on your team page if you do.
  </div>
</div>

<div class="hero">
  <h1>Get Judged</h1>
  <div class="hero-image hero-left" style="background-image: url(https://github.com/tjhorner/codeday-assets/blob/gh-pages/06.jpg?raw=true)"></div>
  <div class="hero-text hero-right">
    Once you're done with your project and presentations are over, you'll be judged. If you win an award
    then your team will be permanently placed in the Hall of Fame, along with a picture of yourself.
  </div>
</div> -->
