<h1>Judge Panel</h1>
<h2>Select Awards</h2>
<ul>
  <% current_awards.each do |a| %>
    <li>
      <%= link_to a.name, judge_award_path(a) %>
      <% if a.team %>
        (Current Team: <%= link_to a.team.name, a.team %>)
      <% end %>
    </li>
  <% end %>
</ul>
