<% Batch.where.not(:id => @batch.id).each do |b| %>
  <%= link_to "See teams for #{b.name}", event_path(:id => @event.id, :batch_id => b.id) %>
<% end %>

<h1>Teams for <%= @event.city %> <%= @batch.name %></h1>

<ul>
  <% @teams.order("id ASC").each do |t| %>
    <li>
      <%= link_to t.name, t %>
    </li>
  <% end %>
</ul>
