<% Batch.where.not(:id => @batch.id).each do |b| %>
	<%= link_to "See teams for #{b.name}", b %>
<% end %>

<h1>Teams for <%= @batch.name %></h1>
<ul>
	<% Event.all.each do |event| %>
		<li><%= link_to "View teams for #{event.city}", event_path(:id => event.id, :batch_id => @batch.id) %></li>
	<% end %>
</ul>
