<h1>Change Managed Event</h1>

<%= render "admin/buttons" %>

Choose which CodeDay you would like to manage.
<ul>
  <% Event.all.order("id ASC").each do |e| %>
  <li>
    <% if current_user.event_id == e.id %>
    <%= link_to content_tag(:b, e.city), admin_set_event_path(e) %>
    <% else %>
    <%= link_to e.city, admin_set_event_path(e) %>
    <% end %>
  </li>
  <% end %>
</ul>
