<h1>Scrambled Teams List</h1>
The fancy-dancy list of scrambled team names available in your choice of a list or JavaScript array.
<ul>
  <% @teams.each do |t| %>
    <li><%= link_to t.name, t %></li>
  <% end %>
</ul>
<code><%= @names.to_json %></code>
