<!-- This probably isn't the right style of header to use, but it looks nice, so, uh, yeah... -->
<div class="team-header" style="background-image: url(https://s5.studentrnd.org/photo/<%= @user.s5_username %>_1000.jpg?new)">
	<div class="team-header-inner animated fadeInUp">
		<h1><%= @user.name %></h1>
		<p>
			<%= link_to @user.s5_username, "https://s5.studentrnd.org/user/#{@user.s5_username}" %>
		</p>
	</div>
</div>

<div class="content-inner">
	<h2>Teams</h2>

	<p>
		<% if @user.teams.count == 0 %>
			<p>
				<i>(dust)</i>
			</p>
		<% end %>

		<ul>
			<% @user.teams.each do |team| %>
				<%= render partial: "teams/showcase", :locals => { team: team }%>
			<% end %>
		</ul>
	</p>
</div>
