<h1>Team Integrations</h1>
<div class="section group">
  <div class="col span_3_of_3">
    <a href="<%= integration_slack_path %>" class="no-style">
      <div class="integration">
        <div class="integration-image" style="background-image: url(https://s3.amazonaws.com/testlio/wp-content/uploads/2015/01/slack.png);"></div>
        <div class="integration-name">Slack</div>
      </div>
    </a>
  </div>
</div>
