// globals
@import "globals";

// other things
@import "main";
@import "form";
@import "teams";
@import "tags";
@import "grid";

// admin styles
@import "admin";

// vendor
@import "animate";
@import "sweetalert";
@import "font-awesome";

*{
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
