*{
  font-family: $regular-font;
}

body{
  margin: 0;
  background: $page-background;
}

body:not(.full-content-width) .content{
  max-width: $content-width;
  margin: 0 auto;
  margin-top: $page-margin;
  margin-bottom: $page-margin;
  padding-left: 10px;
  padding-right: 10px;
}

body.full-content-width .content{
  max-width: 100%;

  .content-inner{
    max-width: $content-width + 100px;
    margin: 0 auto;
    margin-top: $page-margin;
    margin-bottom: $page-margin;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.material-wrapper{ // TODO clean this entire section up.
  padding-top: $page-margin;
  background: $material-primary;
  padding-bottom: 5px;
  -webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.22);
  -moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.22);
  box-shadow: 0 8px 6px -6px rgba(0,0,0,0.22);

  header{
    max-width: $content-width;
    margin: 0 auto;
    padding-bottom: $page-margin;
    // border-bottom: 1px solid $section-border-color;
    padding-left: 10px;
    padding-right: 10px;

    &:after{
      content: "";
      clear: both;
      display: block;
      width: 0;
      height: 0;
    }

    nav{
      // padding-left: 3rem;
      padding-top: 5px;
      display: block;

      nav-right{
        float: right;
      }

      @media only screen and (max-width: 480px){
        // TODO fix mobile nav bar.

        nav-right{
          transition: height .5s;
          -webkit-transition: height .5s;
          -moz-transition: height .5s;

          &::before{
            content: "Show Navbar";
            visibility: initial;
            float: right;
            bottom: 10px;
            position: relative;
            color: white;
          }

          &:hover{
            height: initial;
            visibility: initial;
          }

          text-align: center;
          visibility: hidden;
          height: 0px;
          margin-top: 10px;

          a{
            display: block;
            width: 100%;
            margin-bottom: 3px;

            &::after{
              content: "" !important;
              padding: 0 !important;
              padding-right: 10px !important;
            }
          }
        }
      }

      a{
        border-bottom: none;

        &:not(:last-of-type)::after{
          content: "\2022";
          color: #E2E2E2;
          padding: 0 0.5rem;
        }
      }
    }

    codeday-logo{ // do we actually use this anymore? we should
      float: left;
      text-indent: -19999px;
      width: 2rem;
      height: 2rem;
      background-image: url(https://clear.codeday.org/assets/img/logo-square.png);
      background-size: contain;
      background-position: 50% 50%;
      background-repeat: no-repeat;
    }

    a{
      @extend .impact;
      text-decoration: none;
      color: white !important;
      // margin-top: 5px;
      border-bottom: 1px dotted #efdede;

      &.selected{
        color: $material-primary-light !important;
      }

      &:hover{
        color: $material-primary-light !important;
      }
    }
  }
}

footer{
  max-width: $content-width;
  margin: 0 auto;
  padding-top: $page-margin;
  margin-bottom: $page-margin + 5px;
  border-top: 1px solid $section-border-color;
  padding-left: 10px;
  padding-right: 10px;
}

.impact{
  // text-transform: uppercase;
  font-family: $haxor-font;
  font-weight: bold;
}

a{
  color: $codeday-link;
  text-decoration: none;

  &.no-style{
    color: initial;
    text-decoration: none;
  }

  &:hover:not(.gray){
    color: $codeday-link-hover;
  }

  &.gray{
    color: $codeday-link-gray;
  }
}

// SELECTIONS
::selection {
  @include text-background($material-primary, true);
}

::-moz-selection{
  @include text-background($material-primary, true);
}

.alert-error{
  padding: 10px;
  border-left: 3px solid $material-primary;
  margin-bottom: 10px;
}

.alert-message{
  @extend .alert-error;
  border-color: $codeday-green;
}

// Login with s5 button
@-webkit-keyframes colorpulse{
  0%{
    background: rgb(11,192,194);
  }

  25%{
    background: rgb(248,99,243);
  }

  50%{
    background: rgb(252,88,67);
  }

  100%{
    background: rgb(11,192,194);
  }
}

@keyframes colorpulse{
  0%{
    background: rgb(11,192,194);
  }

  25%{
    background: rgb(248,99,243);
  }

  50%{
    background: rgb(252,88,67);
  }

  100%{
    background: rgb(11,192,194);
  }
}

@-moz-keyframes colorpulse{
  0%{
    background: rgb(11,192,194);
  }

  25%{
    background: rgb(248,99,243);
  }

  50%{
    background: rgb(252,88,67);
  }

  100%{
    background: rgb(11,192,194);
  }
}

s5-button{
  display: inline-block;
  -webkit-animation: colorpulse 10s infinite;
  animation: colorpulse 10s infinite;
  -moz-animation: colorpulse 10s infinite;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: transparent;
  margin: 0;
  color: #fff;
  border-top-width: 0;
  font-size: 1rem;
  padding: 1rem 2rem;
  cursor: pointer;
}

html.turbolinks-progress-bar::before {
  background-color: $material-primary-light !important;
}

code{
  font-family: monospace;
  background: white;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
  display: inline-block;
}
